
.hide {
  padding: 10px 28px !important;
  text-align: center !important;
  color: white !important;
  border: solid 2px black !important;
  z-index: 1 !important;
  background-color: black;
  border-radius: 5px !important;
  text-align: center;
  border-radius: 4px;
  margin: auto;
  margin-left: 3em;
  /* visibility: hidden; */
}

#wrapper :hover {
  opacity: 0.6;
  
}
#wrapper div > .hide {
  visibility: hidden;
  align-items: center;
}

#wrapper:hover div > .hide {
  /* display: block;  */
  visibility: visible;
  align-items: center;
  opacity: 1;
  margin-top: 4em;
  padding: 10px 28px !important;
  text-align: center !important;
  color: white !important;
  border: solid 2px black !important;
  z-index: 1 !important;
  background-color: black;
  border-radius: 5px !important;
}

/* #wrapper .hide {
  visibility: hidden;
  align-items: center;
} */


