 .home__image {
    width: 100%;
    max-width: 1500px; 
     max-height: 50em; 
    margin-left: auto;
    margin-right: auto;
 }

 .home__heading {
     text-align: center;
     margin-left: 20em;
 }